@import '../../common.scss';

.c-posts {
  &__title {

  }

  &__list {
    @extend %ul-reset-style;
  }

  @include respond-from(sm) {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  }

  @include respond-from(md) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}