@import '../../common.scss';

.c-not-found {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &:before {
    content: '404';
    position: absolute;
    font-size: 160px;
    font-weight: $font-main-bold;
    color: #e4e6ee;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
  }

  &__title {
    position: relative;
    z-index: 2;
    font-size: 20px;
  }

  &__btn-box {
    position: relative;
    z-index: 2;
    margin: 20px 0 0;
  }

  &__btn {

  }

  @include respond-from(xs) {
    &:before {
      font-size: 220px;
    }

    &__title {
      font-size: 26px;
    }

    &__btn-box {
      margin-top: 30px;
    }
  }
}