@import '../../common.scss';

.c-contact {
  &__grid {
    margin: 0 auto;
    max-width: 768px;
  }

  &__btn-box {
    margin: 5px auto 0;
    text-align: center;

  }

  @include respond-from(xs) {
    &__grid {
      display: grid;
      row-gap: 0;
      column-gap: 15px;
      grid-template-columns: repeat(2, 1fr);

      .c-form-group {
        &:nth-child(3) {
          grid-column: 1 / 3;
        }
      }
    }
  }
}