@import "./common.scss";

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-basic;
  font-weight: $font-main-regular;
  line-height: $line-height-basic;
  color: $text-main;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
}

.w-inner {
  position: relative;
}

.w-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 0;
  padding: 15px;
  height: 100px;
  background: #f4f6fc;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.w-center {
  max-width: $page-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
