@import "./common.scss";

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-basic;
  font-weight: $font-main-regular;
  line-height: $line-height-basic;
  color: $text-main;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

.modal-open {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
}

.w-inner {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.w-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 0;
  padding: 15px;
  height: 100px;
  background: #f4f6fc;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.w-center {
  max-width: $page-width;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.w-content {
  position: relative;
  padding: 20px 0;
  flex: 1;
}

.w-cols {
  display: flex;
  flex-direction: column;

  @include respond-from(sm) {
    flex-direction: row;
  }
}

.c-h1,
.c-h2,
.c-h3,
.c-h4,
.c-h5,
.c-h6 {
  display: block;
  margin: 0 0 .8em;
  font-weight: $font-main-medium;
  line-height: 125%;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.c-h1 {
  font-size: 22px;

  @include respond-from(sm) {
    font-size: 26px;
  }

  @include respond-from(md) {
    font-size: 28px;
  }
}

.c-h2 {
  font-size: 20px;

  @include respond-from(sm) {
    font-size: 22px;
  }
  
  @include respond-from(md) {
    font-size: 24px;
  }
}

.c-h3 {
  font-size: 18px;

  @include respond-from(sm) {
    font-size: 20px;
  }
  
  @include respond-from(md) {
    font-size: 20px;
  }
}

.c-h4 {
  font-size: 16px;

  @include respond-from(sm) {
    font-size: 16px;
  }
  
  @include respond-from(md) {
    font-size: 18px;
  }
}

a {
  color: $link-text;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $link-text;
    text-decoration: underline;
  }
}

.c-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  outline: none;
  height: 40px;
  line-height: 40px;
  font-weight: $font-main-bold;
  font-size: 18px;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  transition: all .3s;
  background: #30be87;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #29a072;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
    color: #fff;

    &:before {
      transform: scaleY(1);
      transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    }
  } 
}

.c-form-group {
  position: relative;
  padding: 7px 0 8px;
  text-align: left;
  cursor: text;

  &.is-focused {
    .c-form-group {
      &__title {
        top: 0;
        height: 15px;
        font-size: 16px;
        line-height: 16px;

        &:before,
        &:after {
          top: 0;
        }
      }
    }
  }

  &:focus-within {
    .c-form-group {
      &__title {
        &:before,
        &:after {
          border-color: #007fff;
        }
      }
    }

    .c-field {
      background-color: #fff;
      border-color: #007fff;
      border-top-color: transparent;
    }
  }

  &__title {
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 53px;
    text-transform: uppercase;
    transition: all .2s;
    cursor: pointer;

    &:before,
    &:after {
      position: relative;
      top: -7px;
      content: "";
      display: block;
      height: 8px;
      min-width: 17px;
      margin: 7px 4px 0 0;
      border: solid 1px transparent;
      border-bottom: none;
      border-radius: 4px 0 0 0;
      pointer-events: none;
      box-sizing: border-box;
      transition: all .2s;
    }

    &:before {
      border-right: none;
    }

    &:after {
      flex-grow: 1;
      margin: 7px 0 0 4px;
      border-left: none;
      border-radius: 0 4px 0 0;
    }
  }
}

.c-field {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #eee;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 18px;
  color: #0a0d09;
  outline: none;
  transition: all .3s;
  resize: none;
  cursor: pointer;

  .is-focused & {
    cursor: text;
  }

  &:focus {
    background-color: #eee;
    border-color: #007fff;
    border-top-color: transparent;
  }
}

textarea.c-field {
  height: 223px;
  padding: 13px 20px;
  font-family: inherit;
}

.c-user-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  background: #dadde8;
  color: #09174c;
  text-align: center;
  transition: all .3s;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background: #dadde8;
    color: #3d53d5;
  }
}
