@import '../../common.scss';

.c-auth {
  &__form {
    margin: 10px 0 0;
  }

  &__grid {
    margin: 0 auto;
    max-width: 768px;
  }

  &__btn-box {
    margin: 5px auto 0;
    text-align: center;
  }

  &__error {
    margin: 20px 0 0;
    text-align: center;
    color: #e85f7c;
  }

  @include respond-from(xs) {
    &__grid {
      display: grid;
      row-gap: 0;
      column-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}